body {
    font-family: 'Roboto', sans-serif;
    background-color: #eeeeee;
}

.main {
    padding: 15px;
}

.profile {
    background-color: #fff; 
    padding: 15px;
    border-radius: 8px;
}

.profile__container {
    display: flex;
    align-items: center;
}

.profile__photo {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
}

.profile__info {
    padding-left: 25px;
}

.profile__name {
    font-weight: 700;
    font-size: 21px;
}

.profile__position {
    font-weight: 300;
    padding-top: 10px;
    font-size: 14px;
}

.social {
    display: flex;
}

.social__button {
    width: 30px;
    height: 30px;
    color: #000;
    text-decoration: none;
    background: #00a1ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 15px;
    margin: 3px;
    color: #fff;
    transition: .15s ease-in-out background-color;
}

.social__button:hover {
    background: #000;
}
